 @import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
body {

}
.pagebody{
    height: 90%;
    background-color: #f2f2f2; /* fallback for old browsers */
    background-color: -webkit-linear-gradient(right, #f2f2f2, #f2f2f2);
    background-color: -moz-linear-gradient(right, #74AFAD, #74AFAD);
    background-color: -o-linear-gradient(right, #74AFAD, #74AFAD);
    background-color: linear-gradient(to left, #74AFAD, #74AFAD);
}

.header{
  height: 10%;
  background: #21618C;
  text-align: center;
}

.padding{
  height: 10%;
  background: #f2f2f2;
  text-align: center;
}

.login-page {
  width: 360px;
  padding: 0 0;
  margin: auto;
}

.form {
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #74AFAD;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #74AFAD;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}


/*Next Set */


